@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* Background for Header, Intro, Footer */

.header,
.intro-container,
.footer{
    background-color: #1f2937;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.header .logo{
    font-weight: 900;
    font-size: 24px;
}

.header a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

/* Intro */

.intro-container{
    color: white;
    display: flex;
    flex: 2;
    padding: 50px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 100px;
}
.title{
    font: 48px bold;
    color: #f9faf8;
}

.subtitle{
    font: 18px;
    color: #E5E7EB;
    text-align: center;
    padding: 5px 10px;
    margin-right: 10px;
}

.intro-container button{
    margin-top: 5px;
    cursor: pointer;

}

.placeholder{
    padding: 10px;
    flex: 1;
    text-align: center;
}

.placeholder img{
    text-align: center;
    border-radius: 8px;
    box-shadow: 2.5px 2.5px 8px black;
}
/* Section 1: Some Random Information */

.box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    flex-shrink: 0;   
}

.box-1 h1{
    padding: 10px;
}

.pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.pic{
    text-align: center;
    
}

.pic img{
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}

.pic p{
    padding: 0 10px;
}

/* Section 2: Quote */ 

.box-2{
    background-color: #e5e7eb;
    position: relative;
    padding: 50px;
    flex: 2;
}

.quote,
.name{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote{
    padding: 100px;
}

.name{
    right: 500px;
    position: absolute;
}

/*Section 3: Sign Up*/

.box-3{
    display: flex;
    justify-content: center;
    flex: 1;
}

.bluebox{
    color: white;
    height: auto;
    width: 40vw;
    display: flex;
    background-color: lightblue;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
    padding: 10px;
}

.bluebox1{
    flex: 1;
    padding: 10px;
    text-align: center;
}

.bluebox2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox,
.bluebox2 button{
    background-color: #3882f6;
}

.bluebox2 button{
    font-size: 1em;
    color: white;
    border: 1px solid white;
    height: 50px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
    flex-shrink: 0;
}

/*Footer*/

.footer{
    color: white;
    display: flex;
    justify-content: center;
}